<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <div>
    <a href="/main/login">main login</a><br>
    <a href="/main/logout">main logout</a><br>
    <a href="/main/view">main view</a>
  </div>
  <br>
  <div>
    <a href="/sub/login">sub login</a><br>
    <a href="/sub/logout">sub logout</a><br>
    <a href="/sub/view">sub view</a>
  </div>
  <br>
  <div>
    session.SPRING_SECURITY_CONTEXT : [[${session.get('SPRING_SECURITY_CONTEXT')}]]
  </div>
</body>
</html>