<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring Template Example</title>
</head>
<body>
<a th:href="@{${link}}">링크..</a>

<p th:text="#{greeting(${name})}"></p>

<!--/* util method messages */-->
<p th:text="${#messages.msg('greeting', name)}"></p>

<p th:if="${title.length() > 10}">
  long title... (more than 10 chars)!
</p>
<div th:text="${title}"></div>
<table>
  <tr>
    <th style="width: 50px;">id</th>
    <th style="width: 150px;">email</th>
    <th style="width: 150px;">name</th>
  </tr>
  <tr>
    <td th:text="${id}"></td>
    <td th:text="${email}"></td>
    <td th:text="${name}"></td>
  </tr>
</table>
<p th:text="|${email} ${name}|"></p>
[[${email} + ' ' + ${name}]]

<p th:if="${bool == 'true'}">bool true!</p>

<!--/* util method bools */-->
<p th:if="${#bools.isTrue(bool)}">bool true!!!</p>

<th:block th:if="${bool == 'true'}">
  bool true!!
</th:block>

</body>
</html>
